<div class="pane">
	<div class="container">
		<h1 class="center">Activities</h1>
		<p class="center description">There are a lot of fun things to do and see while you're in The Land.</p>
		
		<div class="activity-wrapper">
			<div class="activity">
				<img src="img/mp.jpeg" height=150 width=150 />
				<div class="name">North Chagrin Reservation</div>
				<div class="address">Mayfield Village</div>
				<a class="button" target="_blank" href="https://www.clevelandmetroparks.com/parks/visit/parks/north-chagrin-reservation">View</a>
			</div>

			<div class="activity">
				<img src="img/csh.jpeg" height=150 width=150 />
				<div class="name">A Christmas Story House</div>
				<div class="address">3159 West 11th Street, Cleveland, OH 44109, (216) 298-4919</div>
				<a class="button" target="_blank" href="https://www.achristmasstoryhouse.com/">View</a>
			</div>

			<div class="activity">
				<img src="img/wsm.jpeg" height=150 width=150 />
				<div class="name">West Side Market</div>
				<div class="address">1979 West 25th Street, Cleveland, OH 44113, (216) 664-3387</div>
				<a class="button" target="_blank" href="https://westsidemarket.org/">View</a>
			</div>

			<div class="activity">
				<img src="img/rrhof.jpeg" height=150 width=150 />
				<div class="name">Rock & Roll Hall of Fame</div>
				<div class="address">1100 East 9th Street, Cleveland, OH 44114, (216) 781-7625</div>
				<a class="button" target="_blank" href="https://www.rockhall.com/">View</a>
			</div>

			<div class="activity">
				<img src="img/e4.jpeg" height=150 width=150 />
				<div class="name">Eat on East 4th Street</div>
				<div class="address">East 4th Street, Cleveland, OH</div>
				<a class="button" target="_blank" href="https://www.east4thstreet.com/">View</a>
			</div>

			<div class="activity">
				<img src="img/ep.jpeg" height=150 width=150 />
				<div class="name">Edgewater Park</div>
				<div class="address">Cleveland, OH 44102, (216) 635-3200</div>
				<a class="button" target="_blank" href="https://clevelandmetroparks.com/parks/visit/parks/lakefront-reservation/edgewater-park">View</a>
			</div>
		</div>
	</div>
</div>
