<div class="pane">
	<div class="container">
		<h1 class="center">Schedule of events</h1>
		
		<div class="event-wrapper">
			<div class="date">Friday, August 25, 2023</div>

			<div class="event-section-wrapper">
				<div class="event-section right time">7:30 PM</div>
				<div class="event-section left">
					<div class="what">Welcome Party</div>
					<div class="where">Michaelangelo's Italian Restaurant & Wine Bar</div>
					<div class="address">2198 Murray Hill Rd, Cleveland, OH 44106</div>
				</div>
			</div>
		</div>

		<div class="event-wrapper">
			<div class="day">Wedding Day</div>
			<div class="date">Saturday, August 26, 2023</div>

			<div class="event-section-wrapper">
				<div class="event-section right time">3:00 PM</div>
				<div class="event-section left">
					<div class="what">Ceremony</div>
					<div class="where">Sts. Constantine & Helen Greek Orthodox Church</div>
					<div class="address">3352 Mayfield Rd, Cleveland, OH 44118</div>
				</div>
			</div>

			<div class="event-section-wrapper">
				<div class="event-section right time">5:30 PM</div>
				<div class="event-section left">
					<div class="what">Reception</div>
					<div class="where">The Country Club</div>
					<div class="address">2825 Lander Road, Pepper Pike, OH, 44124</div>
				</div>
			</div>

		</div>


		<div class="event-wrapper">
			<div class="date">Sunday, August 27, 2023</div>

			<div class="event-section-wrapper">
				<div class="event-section right time">10:00 AM</div>
				<div class="event-section left">
					<div class="what">Brunch</div>
					<div class="where">The Klonaris Home</div>
					<div class="address">374 Medway Road, Highland Heights, OH 44143</div>
				</div>
			</div>
		</div>

		<!-- <div class="event-wrapper">

			<div class="what">Welcome drinks</div>
			<div class="when-date">Friday, August 25, 2023</div>
			<div class="when-time">Time: TBD</div>
			<div class="where">Michelangelos</div>
			<div class="what">Ceremony</div>
			<div class="when-date">Saturday, August 26, 2023</div>
			<div class="when-time">Time: TBD</div>
			<div class="where">Sts. Constantine & Helen Greek Orthodox Church</div>
		</div>

		<div class="event-wrapper">
			<div class="what">Reception</div>
			<div class="when-date">Saturday, August 26, 2023</div>
			<div class="when-time">Time: TBD</div>
			<div class="where">The Country Club</div>
		</div>
 -->
	</div>
</div>
