<div class="pane">
	<div class="container">
		<h1 class="center">FAQ</h1>
		
		<div class="faq-wrapper">
			<div class="q">What is the attire?</div>
			<div class="a">
				<p>Black tie optional.</p>
			</div>
		</div>


		<div class="faq-wrapper">
			<div class="q">Will there be any greek dancing?</div>
			<div class="a">
				The <a href="https://en.wikipedia.org/wiki/Kalamatianos" target="_blank">Kalamatianos</a> is a traditional greek dance and we would love to have all of our guests join us on the dance floor.  Here's a <a href="https://www.youtube.com/watch?v=3-xCX6EuCpM&ab_channel=GreekThings"  target="_blank">breakdown of the steps</a>, and the <a href="https://www.youtube.com/watch?v=sed_fSi-EMI&ab_channel=HamsterPage" target="_blank">full dance in action</a>.
			</div>
		</div>

		<div class="faq-wrapper">
			<div class="q">Can I bring a date?</div>
			<div class="a">
				If your invitation does not say "and Guest" we would prefer if it was just you.
			</div>
		</div>
	</div>
</div>
