<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{site.title}} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{ site.description }}{% endif %}">

<!-- TODO: Place apple-touch-icon.png in the root directory -->

<!-- open graph -->
<meta property="og:title" content="Samantha Klonaris & Matt Kaplun" />
<meta property="og:description" content="The wedding website for Samantha Klonaris and Matt Kaplun." />
<meta property="og:type" content="website" />

<meta property="og:url" content="https://samandmatt.love/" />

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />

<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.ico">

<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/scripts.js"></script>
