<header>
  <a  href="{{ site.baseurl }}/">
  	<div class="head-monogram">
	  	<span>S</span>
	  	<span>+</span>
	  	<span>M</span>
	  </div>
  </a>
  <div class="nav-container">
  	<div class="nav-item"><a href="{{ site.baseurl }}/">Home</a></div>
  	<div class="nav-item"><a href="{{ site.baseurl }}/coming-soon">Schedule</a></div>
  	<div class="nav-item"><a href="{{ site.baseurl }}/travel">Travel</a></div>
  	<div class="nav-item"><a href="{{ site.baseurl }}/coming-soon">Registry</a></div>
  	<div class="nav-item"><a href="{{ site.baseurl }}/coming-soon">Things to do</a></div>
  </div>
</header>
