<div>
	<img src="img/hero-color-min.png" height="100%" width="100%" />
</div>
<div class="container home">
	<div class="name-and-wrapper">
		<div class="home-name sam">Samantha</div>
		<div class="home-and">and</div>
	</div>
	<div class="home-name matt">Matt</div>
</div>
<img class="squiggle" src="img/squiggle.svg" />
<div class="background-pink">
	<div class="container">
		<div class="wrapper">
			<div>
				<div>August 26, 2023</div>
			</div>
			<div class="location">
				Cleveland, Ohio
			</div>
		</div>
	</div>
</div>
<div>
	<img src="img/hero-bottom-color-min.png" height="100%" width="100%" />
</div>