<div class="pane">
	<div class="container">
		<h1 class="center">Hotels</h1>
		<p class="center description">We have booked room blocks at the following hotels.  We will provide a shuttle between the hotels and the church/reception the day of the wedding.</p>
		<div class="hotel-grid">
			<div class="hotel-block">
				<img src="img/hyatt.png" height=168 width=275 />
				<div class="name">Hyatt Place - Legacy Village</div>
				<div class="address">24665 Cedar Road, Lyndhurst, OH 44124</div>
				<div class="phone">(216) 382-3350</div>
				<div class="discount">Discount Code - G-KKOB</div>
				<a class="button" target="_blank" href="https://www.hyatt.com/en-US/hotel/ohio/hyatt-place-cleveland-lyndhurst-legacy-village/clezl?corp_id=G-KKOB">View</a>
			</div>
			<div class="hotel-block">
				<img src="img/marriott.png" height=168 width=275 />
				<div class="name">Cleveland Marriott East</div>
				<div class="address">26300 Harvard Road, Warrensville Heights, OH 44122</div>
				<div class="phone">(216) 378-9191</div>
				<div class="discount">Discount Code - KKWKKWA</div>
				<a class="button" target="_blank" href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1671644675836&key=GRP&app=resvlink">View</a>
			</div>
		</div>
	</div>
</div>
