<div class="container">
	<div class="hotel-grid">
		<div class="hotel-block">
			<div class="type">Hotel</div>
			<div class="name">HYATT PLACE CLEVELAND/LYNDHURST/LEGACY VILLAGE</div>
			<div class="address">24665 Cedar Road, Lyndhurst, OH 44124</div>
			<div class="phone">(216) 382-3350</div>
			<div class="discount">Discount Code - G-KKWD</div>
			<a class="button" href="https://www.hyatt.com/en-US/hotel/ohio/hyatt-place-cleveland-lyndhurst-legacy-village/clezl?corp_id=G-KKWD">View</a>
		</div>
		<div class="hotel-block">
			<div class="type">Hotel</div>
			<div class="name">HYATT PLACE CLEVELAND/LYNDHURST/LEGACY VILLAGE</div>
			<div class="address">24665 Cedar Road, Lyndhurst, OH 44124</div>
			<div class="phone">(216) 382-3350</div>
			<div class="discount">Discount Code - G-KKWD</div>
			<a class="button" href="https://www.hyatt.com/en-US/hotel/ohio/hyatt-place-cleveland-lyndhurst-legacy-village/clezl?corp_id=G-KKWD">View</a>
		</div>
	</div>
</div>
